
h1 {
  color: cornflowerblue;
  font-size: 5vw;
  position: relative;
  border: 2px dotted white;
  width: 100%;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 5vh;

}

h1:before {
  content: "";
  display: block;
  width: 32%;
  height: .7vw;
  background: cornflowerblue;
  position: absolute;
  left: 0;
  top: 52%;
}

h1:after {
  content: "";
  display: block;
  width: 32%;
  height: .7vw;
  background: cornflowerblue;
  position: absolute;
  right: 0;
  top: 52%;
}