#url-submit {
  width: 100%;
  display: flex;
  margin-bottom: 4vh;

  textarea {
    font-size: 20px;
    background-color: cornflowerblue;
    width: 80%;
    margin-right: 1.5vw;
    // padding-left: .5vw;
    color: rgba(248, 161, 0, 0.8);
    font-weight: bolder;
    border: 2px dotted white;
    outline: none;
  }
    button {
      width: 7vw;
      font-size: 1vw;
      color: rgba(248, 161, 0, 0.8);
      background-color: cornflowerblue;
      border-radius: 7px;
      border: 2px dotted white;
      font-weight: bolder;
      outline: none;
      padding: .5vh;

    }
}

#route-selection {
  display: flex;
  justify-content: space-around;
  width: 100%;

  input {
    width: 10vw;
    font-size: 2vw;
    color: rgba(248, 161, 0, 0.8);
    background-color: cornflowerblue;
    border-radius: 7px;
    border: 2px dotted white;
    font-weight: bolder;
    outline: none;
  }

  input:focus {
    background-color: rgba(248, 161, 0, 0.8);
    color: white;
  }

  input:hover {
    // background-color: rgba(248, 161, 0, 0.8);
    color:white;

  }
}

#rendered-input {
  margin-top: 3vh;
  border: 2px dotted white;
  width: 100%;
  padding: 1%;
  color: cornflowerblue;
  font-weight: bolder;

  p {
    font-size: 3vh;
    display: inline;
  }
  h2 {
    color: white;
    display: inline;
    font-size: 3vh;

  }
}

::placeholder {
  color: rgba(248, 161, 0, 0.8);
}